{% extends 'core/layout.html' %}
{% block content %}
<div class="row justify-content-center mx-5 my-3">
    <div class="d-flex mb-3">
        <div class="py-2">
            <div class="h2">
                <i class="fa-solid fa-suitcase-rolling"></i>
                Trips
            </div>
        </div>
    </div>
    <div class="mb-4">
        <a class="btn btn-primary me-2" href="{{ url_for('data.register_trip') }}" role="button">
            <i class="fa-solid fa-plus"></i>
            Register Trip
        </a>
        <a class="btn btn-success" href="{{ url_for('data.save_trip_backup') }}" role="button">
            <i class="fa-solid fa-plus"></i>
            Save data backup
        </a>
    </div>
    <hr>
    {% with title='Trips', headers=trips_headers, data=trips_data %}
    {% include 'data/_table.html' %}
    {% endwith %}
</div>
{% endblock %}