{% extends 'core/layout.html' %}
{% block content %}
<div class="row justify-content-center mx-5 my-3">
    <div class="d-flex mb-3">
        <div class="py-2">
            <div class="h2">
                <i class="fa-solid fa-truck"></i>
                Trucks
            </div>
        </div>
    </div>
    <div class="mb-4">
        <a class="btn btn-primary" href="{{ url_for('data.register_truck') }}" role="button">
            <i class="fa-solid fa-plus"></i>
            Register Truck
        </a>
    </div>
    <hr>
    {% with title='Lightweight', headers=lightweight_headers, data=lightweight_data %}
    {% include 'data/_table.html' %}
    {% endwith %}

    <div class="mb-5"></div>

    {% with title='Heavy', headers=heavy_headers, data=heavy_data %}
    {% include 'data/_table.html' %}
    {% endwith %}
</div>
{% endblock %}