{% extends 'core/layout.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        {% with title="Register truck" %}
            {% include 'data/_header.html' %}
        {% endwith %}
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-11 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-12 border rounded bg-white p-3">
                        <form method="POST">
                            {{ form.csrf_token }}
                            <div class="row mb-3">
                                <div class="col-12">
                                    {% with field=form.model %}
                                        {% include 'core/components/inputs/floating_label.html' %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    {% with field=form.weight %}
                                        {% include 'core/components/inputs/floating_label.html' %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    {% with field=form.fuel_type %}
                                        {% include 'core/components/inputs/floating_label.html' %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="row justify-content-center border-top g-0 pt-3">
                                <div class="col-auto">
                                    <button class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}